<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="bulkingview">
  <div class="p-16" pristinePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
      <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
           fxLayoutAlign="start">
        <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 20px">
          <div fxFlex="1 0 auto" fxLayout="row" fxLayout.lt-sm="row" fxLayoutGap="10px">
            <b>Bulking View ( </b><b
            style="color: red"> {{ sessionManageMent.getLocationName}} </b><b> )</b>
          </div>
        </div>

        <mat-divider></mat-divider>
        <br>

        <div class="h3 mb-8 p-16">
          <b>Bulking Header ( </b>
          <b style="color: red"> {{this.blending_no}} </b><b> )</b>
          <br> <br>
          <!--          *ngIf="this.iteminfo?.length>0"-->
          <div *ngIf="this.dataSource?.data.length>0" class="headertable" fxLayout="column" fxLayoutGap="10px">
            <table style=" border:0px;margin-top: 10px;">
              <tbody style="font-size: 12px;">

              <tr>
                <th>Season :</th>
                <td>{{this.dataSource?.data[0]?.season}}</td>
                <th>From Stage :</th>
                <td>{{this.dataSource?.data[0]?.from_stage}}</td>
                <th>To Stage :</th>
                <td>{{this.dataSource?.data[0]?.to_stage}}</td>
              </tr>

              <tr>
                <th>Crop Code :</th>
                <td>{{this.dataSource?.data[0]?.crop}}</td>
                <th>Item Code :</th>
                <td>{{this.dataSource?.data[0]?.item_no}}</td>
                <th>Item Name :</th>
                <td>{{this.dataSource?.data[0]?.item_name}}</td>
              </tr>

              <tr>
                <th>Item Crop :</th>
                <td>{{this.dataSource?.data[0]?.crop_type}}</td>
                <th>Class Of Seeds :</th>
                <td>{{this.dataSource?.data[0]?.class_of_seed}}</td>
                <th>Created By :</th>
                <td>{{this.dataSource?.data[0]?.created_by}}</td>
              </tr>
              <tr>
                <th>Created On :</th>
                <td>{{this.dataSource?.data[0]?.created_on|date:'dd/MM/yyyy HH:mm a'}}</td>
                <td colspan="4">
              </tr>
              </tbody>
            </table>
          </div>

          <br>
          <mat-divider></mat-divider>
          <br>
          <b style="color: red"> Bulking Line Lots </b>
          <br>
          <br>
          <div class="example-container">
            <table [dataSource]="dataSource" mat-table matSort>
              <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <th *matHeaderCellDef mat-header-cell>
                  <div class="filterHeader">
                    <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                    <input (keyup)="applyFilter($event.target.value,column)"
                           *ngIf="column!='Edit' && column!='View'"
                           [placeholder]="column|firstAnd_Split"
                           matInput>
                  </div>
                </th>
                <td *matCellDef="let element" mat-cell>
                  <p *ngIf="column!='Edit' && column!='View'">{{element[column]}}</p>

                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
            <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
          </div>
          <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                         showFirstLastButtons></mat-paginator>

        </div>
      </div>
    </div>
  </div>
</div>

