<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="createsaleorder">
    <div class="content p-20" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">

                <div class=" h3 mb-8 p-16">
                    <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between"
                         fxLayoutGap="10px">
                        <div fxFlex="60" fxFlex.sm fxLayout.lt-sm="column">
                            <b>Create Delivery Order ( </b> <b
                            style="color: red"> {{sessionManageMent.getLocationName}}</b><b>
                            ) {{currentdate | date: 'dd/MM/yyyy hh:mm a'}} </b>
                        </div>

                        <div *ngIf="dataSource?.data?.length>0" fxFlex="20" fxLayout="row" fxLayoutAlign="end">
                            <button (click)="CreateDeliveryorder()" [disabled]="BasicInput.invalid"
                                    aria-label="Submit"
                                    color="accent"
                                    mat-raised-button>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>


                <mat-divider></mat-divider>
                <mat-horizontal-stepper #stepper linear>
                  <mat-step [stepControl]="CustomerInfo" label="Customer Information">
                    <form [formGroup]="CustomerInfo">
                      <div class="p-16" fxFlex fxLayout="column">
                        <div fxLayout="column" fxLayoutGap="10px">
                          <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                            <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Customer Name or Mobile No</mat-label>
                                  <mat-select (selectionChange)="get_CustomerFull_info()" autocomplete="off"
                                              formControlName="CustomerNameorNo">
                                    <input (ngModelChange)="get_CustomerNo()"
                                           [(ngModel)]="searchByCustomerNameorNo"
                                           [ngModelOptions]="{standalone:true}"
                                           autocomplete="off" class="myInput"
                                           focused="'true'" matInput placeholder="Search"
                                           type="text">
                                    <mat-option>None</mat-option>
                                    <mat-option
                                      *ngFor="let shippingOrder of customerlist"
                                      [value]="shippingOrder.customer_id">{{shippingOrder.full_name}}</mat-option>
                                  </mat-select>
                                  <mat-error>
                                    Customer Name or Number is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="addresslist?.length>0">
                          <b>Customer Info</b>
                          <br><br>
                        </div>
                        <div fxFlex="" fxLayout="column" class="p-4 pt-8">
                              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxFlex="" fxLayoutGap="10px">
                                <mat-card *ngFor="let address of addresslist;let i=index" class="product" fxFlex="40"  >
                                  <mat-card-content class="card-table">
                                    <table >
                                      <tr>
                                        <th></th>
                                        <th></th>
                                      </tr>
                                      <tr>
                                        <td style="font-size:20px"><b>&nbsp;<b>Address&nbsp;{{i+1}}</b></b></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Customer No.:</b></td>
                                        <td>{{address.customer_id}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Customer Name:</b></td>
                                        <td>{{address.full_name}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Zone:</b></td>
                                        <td>{{address.zone}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Town/City:</b></td>
                                        <td>{{address.city}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To State:</b></td>
                                        <td>{{address.state}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Village:</b></td>
                                        <td>{{address.state}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Taluka:</b></td>
                                        <td>{{address.taluka}}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Country:</b></td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td><b>Sale To Pin:</b></td>
                                        <td>{{address.pincode}}</td>
                                      </tr>
                                      <tr>
                                        <td ><b>Sale To Address&nbsp;{{i+1}}:</b></td>
                                        <td>{{address.address}}</td>
                                      </tr>
                                    </table>
                                  </mat-card-content>
                                </mat-card>
                              </div>
                            </div>

                        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start center"
                             style="margin-top: 20px">
                          <button [disabled]="CustomerInfo.invalid" color="accent" mat-button
                                  mat-raised-button matStepperNext style="width: 80px;">Next
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                    <mat-step [stepControl]="BasicInput" label="Basic Information">
                      <form [formGroup]="BasicInput" name="registerForm" >
                        <div fxLayout="column" fxLayoutGap="10px">
                          <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline" fxFlex="22.5">
                                  <mat-label>LR/RR no<sup style="color: red">*</sup></mat-label>
                                    <input matInput type="text" formControlName="LRRno" >
                                  <mat-error>
                                    LR/RR no is required
                                  </mat-error>
                                  </mat-form-field>
                              </div>
                            </div>

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>LR/RR Date<sup style="color: red">*</sup></mat-label>
                                  <input (focusin)="ldate.open()" [matDatepicker]="ldate"
                                         formControlName="LRRDate"
                                         matInput
                                         placeholder="Choose LR date"
                                  >
                                  <mat-datepicker #ldate="matDatepicker"
                                  ></mat-datepicker>
                                  <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                                  <mat-error>
                                    LR/RR date is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline" >
                                  <mat-label>Vehicle No<sup style="color: red">*</sup></mat-label>
                                  <input formControlName="VehicleNo"  matInput placeholder="Vehicle No" type="text" >
                                  <mat-error>
                                    Vehicle no is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div >

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline" >
                                  <mat-label>Transporter Code<sup style="color: red">*</sup></mat-label>
                                  <input formControlName="TransporterCode"  matInput placeholder="Transporter Code" type="text" >
                                  <mat-error>
                                    Transporter Code is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                          <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline" fxFlex="22.5">
                                  <mat-label>Transporter Name<sup style="color: red">*</sup></mat-label>
                                  <input formControlName="TransporterName"  matInput placeholder="Transporter Name" type="text" >
                                  <mat-error>
                                    Transporter Name is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Salesperson Code<sup style="color: red">*</sup></mat-label>
                                  <input autocomplete="off" formControlName="SalespersonCode" placeholder="Salesperson Code" matInput >
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Freight<sup style="color: red">*</sup></mat-label>
<!--                                  <input autocomplete="off" formControlName="Freight" placeholder="Freight" matInput >-->
                                  <mat-select formControlName="Freight">
                                    <mat-option [value]="freight" *ngFor="let freight of freightType">
                                      {{freight}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error>
                                    Freight is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Freight Total<sup style="color: red">*</sup></mat-label>
                                  <input autocomplete="off" matInput formControlName="FreightTotal" placeholder="Freight Total" type="text" >
                                  <mat-error>
                                    Freight Total is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                          <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" >
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Freight To Pay<sup style="color: red">*</sup></mat-label>
                                  <input autocomplete="off" formControlName="FreightToPay" placeholder="Freight To Pay" matInput >
                                  <mat-error>
                                    Freight To Pay is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Advance Paid<sup style="color: red">*</sup></mat-label>
                                  <input autocomplete="off" formControlName="AdvancePaid" placeholder="Advance Paid" matInput >
                                  <mat-error>
                                    Advance Paid value is required
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Request Delivery Date<sup style="color: red">*</sup></mat-label>
                                  <input (focusin)="ldate.open()" [matDatepicker]="ldate"
                                         formControlName="RequestDeliveryDate"
                                         matInput
                                         placeholder="Request Delivery Date"
                                  >
                                  <mat-datepicker #ldate="matDatepicker"
                                  ></mat-datepicker>
                                  <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center" *ngIf="this.addresslist?.length>0">
                              <div fxLayout="column" style="width: 80%;">
                                <mat-form-field appearance="outline">
                                  <mat-label>Promised Delivery Date<sup style="color: red">*</sup></mat-label>
                                  <input (focusin)="ldate.open()" [matDatepicker]="ldate"
                                         formControlName="PromisedDeliveryDate"
                                         matInput
                                         placeholder="Promised Delivery Date"
                                  >
                                  <mat-datepicker #ldate="matDatepicker"
                                  ></mat-datepicker>
                                  <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="start center"
                             style="margin-top: 20px">
                          <button  color="warn" mat-button
                                  mat-raised-button matStepperPrevious style="width: 80px;">Back
                          </button>
                          <button [disabled]="BasicInput.invalid" color="accent" mat-button
                                  mat-raised-button matStepperNext style="width: 80px;">Next
                          </button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="AddItem" label="Add Order Line">
                        <form [formGroup]="AddItem">
                          <div fxLayout="column" fxLayoutGap="10px">
                              <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline"  >
                                      <mat-label>Crop Code<sup style="color: red">*</sup></mat-label>
                                      <mat-select [disabled]="this.dataSource?.data?.length>0"  formControlName="CropCode" (selectionChange)="getItemSubCategory(AddItem.get('CropCode').value,$event);get_Item()">
                                        <mat-option>None</mat-option>
                                        <mat-option [value]="cropcode.id" *ngFor="let cropcode of ItemCategoryList">
                                          {{cropcode.cat_code}}</mat-option>
                                      </mat-select>
                                      <mat-error>
                                        Crop Code is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Variety Group<sup style="color: red">*</sup></mat-label>
                                      <mat-select [disabled]="this.dataSource?.data?.length>0" formControlName="VarietyGroup" (selectionChange)="getMarketingindentNo()">
                                        <mat-option>None</mat-option>
                                        <mat-option [value]="itemgroup.item_group" *ngFor="let itemgroup of ItemSubcategoryList">
                                          {{itemgroup.item_group}}
                                        </mat-option>
                                      </mat-select>
                                      <mat-error>
                                        Variety Group is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Marketing Indent No<sup style="color: red">*</sup></mat-label>
                                      <mat-select [disabled]="this.dataSource?.data?.length>0"  formControlName="MarketingIndentNo" (selectionChange)="clearField();AddItem.get('Session').setValue(this.getSession());get_Item()">
                                        <mat-option>None</mat-option>
                                        <mat-option [value]="mino.document_no" *ngFor="let mino of marketingIndentNo">
                                          {{mino.document_no}}</mat-option>
                                      </mat-select>
                                      <mat-error>
                                        Marketing Indent NO is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25"  fxLayout="row" fxLayoutAlign.lt-sm="center" >
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Session<sup style="color: red">*</sup></mat-label>
                                      <mat-select [disabled]="this.dataSource?.data?.length>0" formControlName="Session" >
                                        <mat-option [value]="session.season_code" *ngFor="let session of sessionList">{{session.season_code}}</mat-option>
                                      </mat-select>
                                      <mat-error>
                                        Session is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                                <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Sales Type<sup style="color: red">*</sup></mat-label>
                                        <mat-select [disabled]="this.dataSource?.data?.length>0" formControlName="SalesType">
                                          <mat-option>None</mat-option>
                                          <mat-option [value]="salestype" *ngFor="let salestype of SalesType">{{salestype}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                          Sales Type is required
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Find Item By Name Or No</mat-label>
                                        <mat-select autocomplete="off" formControlName="ItemNo" (selectionChange)="getitemDetailList()">
<!--                                          <input (ngModelChange)="get_Item()"-->
<!--                                                 [(ngModel)]="searchByItemNameorNo"-->
<!--                                                 [ngModelOptions]="{standalone:true}"-->
<!--                                                 autocomplete="off" class="myInput"-->
<!--                                                 focused="'true'" matInput placeholder="Search" type="text">-->
                                          <mat-option>None</mat-option>
                                          <mat-option
                                            *ngFor="let shippingOrder of itemlist"
                                            [value]="shippingOrder.item_no">{{shippingOrder.name + '( ' + shippingOrder.item_no + ' )'}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                          Item Name or Number is required
                                        </mat-error>

                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Lot No<sup style="color: red">*</sup></mat-label>
                                        <mat-select  formControlName="ItemLotNO">
                                          <mat-option [value]="lot.lot_no" *ngFor="let lot of lotNo">{{lot.lot_no+' '+'('+'rem qty:'+' '+lot.remaining_quantity+')'}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                          Item Group is required
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-form-field appearance="outline" >
                                        <mat-label>Item Group<sup style="color: red">*</sup></mat-label>
                                        <input matInput type="text" formControlName="ItemGroup" readonly/>
                                        <mat-error>
                                          Item Group is required
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>Item Class Of seed<sup style="color: red">*</sup></mat-label>
                                      <input matInput type="text" formControlName="ItemClassOfSeed" readonly/>
                                      <mat-error>
                                        Item Class Of seed is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>Item Name<sup style="color: red">*</sup></mat-label>
                                      <input matInput type="text" formControlName="ItemName" readonly/>
                                      <mat-error>
                                        Item Name is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf=" AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>F.G Pack Size<sup style="color: red">*</sup></mat-label>
                                      <input matInput type="number" formControlName="FGPackSize" readonly>
                                      <mat-error>
                                        F.G Pack Size is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>No. Of Bags<sup style="color: red">*</sup></mat-label>
                                      <input (keyup)="getQty();Get_inventory_check()" matInput type="text" pattern="^[0-9]+(.[0-9]{0,2})?$" formControlName="NoOfBags">
                                      <mat-error>
                                        No. Of Bags is required
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>


                              </div>
                              <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row"  fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                    <mat-form-field appearance="outline" >
                                      <mat-label>Quantity</mat-label>
                                      <input autocomplete="off"  formControlName="Quantity" matInput
                                             pattern="^[0-9]+(.[0-9]{0,2})?$"
                                             type="text" readonly>
                                      <mat-error>
                                        Quantity is Wrong
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row"  fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>Unit/Price</mat-label>
                                      <input autocomplete="off" formControlName="UnitPrice" matInput
                                             pattern="^[0-9]+(.[0-9]{0,2})?$"
                                             type="text" readonly>
                                      <mat-error>
                                        Unit/Price is Wrong
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row"  fxLayoutAlign.lt-sm="center">
                                  <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                      <mat-label>Line Amount</mat-label>
                                      <input autocomplete="off" formControlName="LineAmount" matInput
                                             pattern="^[0-9]+(.[0-9]{0,2})?$"
                                             type="text" readonly>
                                      <mat-error>
                                        Line Amount is Wrong
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div fxFlex="25" fxLayout="row"  fxLayoutAlign.lt-sm="center"
                                     style="margin-bottom: 15px">
                                  <div fxLayout="column" style="width: 80px; margin-top: 10px" *ngIf="AddItem.get('ItemLotNO').value!=''">
                                    <button (click)="addnewitem()" [disabled]="AddItem.invalid"
                                            aria-label="Submit"
                                            color="accent"
                                            mat-raised-button
                                    >
                                      Add
                                    </button>
                                  </div>
                                </div>
<!--                                <div fxFlex="25" fxLayout="row"  fxLayoutAlign.lt-sm="center"-->
<!--                                     style="margin-bottom: 15px">-->
<!--                                  <div fxLayout="column" style="width: 80px; margin-top: 10px">-->
<!--                                    <button color="warn" mat-button-->
<!--                                            mat-raised-button matStepperPrevious>Back-->
<!--                                    </button>-->
<!--                                  </div>-->
<!--                                </div>-->
                              </div>
                            </div>
                        </form>
                        <div class="h3 mb-8 p-16">
                            <div class="example-container">
                                <table #matSort="matSort" [dataSource]="dataSource" mat-table matSort>
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Action'"
                                                       [placeholder]="column|firstAnd_Split">
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <p *ngIf="column!='Action';else elseAction">{{element[column]}}</p>
                                            <ng-template #elseAction>
                                                <button (click)="delete_line(element)" *ngIf="column=='Action'"
                                                        mat-icon-button>
                                                    <mat-icon class="icon-size">delete</mat-icon>
                                                </button>
                                                <p *ngIf="column=='created_on'">{{element[column]|date:'dd/MM/yyyy HH:MM a'}}</p>
                                            </ng-template>
                                        </td>
                                        <td *matFooterCellDef mat-footer-cell>
                                            <p *ngIf="column=='item_name'">
                                                Total
                                            </p>
                                            <p *ngIf="column!='item_no' && column!='lot_no'  && column!='item_name' && column!='crop_code' && column!='variety_group' && column!='marketing_indent_no' && column!='item_class_of_seed' && column!='sales_type' && column!='Action' && dataSource?.data?.length>0">
                                                {{sum_footer(dataSource.data, column) }}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="displayedColumns ; sticky: true" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                    <tr *matFooterRowDef="displayedColumns; sticky: true" mat-footer-row></tr>
                                </table>
                                <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator #matpaginator="matPaginator" [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>

                        </div>
                        <!--            <div fxFlex="row" fxLayoutGap="10px">
                                        <button mat-button color="warn"
                                                mat-raised-button matStepperPrevious>Back
                                        </button>
                                    </div>-->

                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>



















